*{
    padding: 0;
    margin: 1px;
}

.navbar{
    display: flex;

    justify-content: space-around ;
    padding: 10px;
}
.resume{
    padding: 10px 15px;
    font-size: 1.2rem;
    background-color: aliceblue;
    border: 1px solid gray;
    /* font-weight: bold; */
}